name: test

on:
  push:
    branches: [ main ]
  pull_request:

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: |
          sudo apt-get install yamllint
          yamllint action.yml

  test-site-gen:
    name: Test ./site-gen/ action on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
    - uses: actions/checkout@v4

    - uses: actions/checkout@v4
      with:
        repository: metanorma/mn-samples-cc
        path: cc

    - uses: actions-mn/setup@main

    - uses: ./
      with:
        source-path: cc
        config-file: metanorma.yml
        agree-to-terms: true

    - uses: andstor/file-existence-action@v3
      with:
        files: cc/_site/index.html

  test-docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - image: metanorma/metanorma:latest
          install-fonts: false
          continue-without-fonts: true
        - image: metanorma/metanorma:latest
          install-fonts: true
          continue-without-fonts: false
          timestamps: true
    container:
      image: ${{ matrix.image }}
    steps:
    - uses: actions/checkout@v4

    - uses: actions/checkout@v4
      with:
        repository: metanorma/mn-samples-cc
        path: cc

    - uses: ./
      with:
        source-path: cc
        agree-to-terms: true
        install-fonts: ${{ matrix.install-fonts }}
        continue-without-fonts: ${{ matrix.continue-without-fonts }}
        timestamps: ${{ matrix.timestamps }}

    - uses: andstor/file-existence-action@v3
      with:
        files: cc/_site/index.html
